footer
  .container.text-center
    p(align='center') © 2017-2022 Innova. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/innova-foundation/innovastats', target='_blank') GitHub Project
      li
        a(href='https://innova.io', target='_blank') Innova.io
